.cart-items {
  display: grid;
  grid-template-columns: 20% 30% 25% 25%;
}

.cart-items:hover {
  background-color: #d3d3d3;
}

.image-placeholder {
  background-color: blue;
  border-radius: 5px;
  height: 75%;
  width: 75%;
  margin: 15px;
}

@media only screen and (max-width: 426px) {
  .cart-items {
    grid-template-columns: 30% 30% 20% 20%;
  }
}
