#cart-page {
  margin: 3em;
}

.cart-page-title {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  border-bottom: 1px solid gray;
}

@media only screen and (max-width: 426px) {
  #cart-page {
    margin: 0;
  }

  .cart-page-title {
    grid-template-columns: 60% 20% 20%;
    justify-content: space-between;
  }

  .cart-page-title h4 {
    font-size: 14px;
  }
}
